DATABASE_URL="postgresql://neondb_owner:npg_SEHiN23ulagO@ep-dry-bonus-a1sfxy7b-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# DATABASE_URL="postgresql://postgres:2004@localhost:5432/db_webgis?schema=public"
NEXTAUTH_SECRET="rahasia_dapur_gis_pkl_2026"
NEXTAUTH_URL="http://localhost:3000/"